<div class="sidebar-nav d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
  <a routerLink="/customers" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4"> <strong>Minsait Financial</strong></span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/customers" routerLinkActive="active">
        Clientes
      </a>
    </li>
  </ul>
</div>
